@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Literata|Satisfy&display=swap');

body {
  background-color: #eee;
  font-family: "Halvetica", sans-serif;
}
li {
  list-style: none;
}
