@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Literata|Satisfy&display=swap');
font-family: 'Indie Flower', cursive;

body {
  background-color: #eee;
  font-family: "Halvetica", sans-serif;
}
li {
  list-style: none;
}

#main {
  width: 100%;
  position: relative;
}
/* .faq-component {
  display: grid;
  grid-template-rows: 1fr 1fr;
} */
